<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
    <div class="row">
      <div class="col-5 bg-light">
        Currently there are {{"..."}} questions!
      </div>
      <div class="col-5 bg-light">
        More Stats...
      </div>
    </div>
    <form (ngSubmit)="onSubmit()">
      <h1>Input Leetcode Question Title Slug</h1>
      <input type="text" [(ngModel)]="questionEndpoint" name="questionEndpoint" placeholder="Enter Title Slug">
      <button type="submit">Fetch Question</button>
    </form>
</div>